body {
	overflow: hidden;
	background: url('images/Berge4.png') no-repeat center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	font-family: Roboto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 120vh;
	margin: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
    }

.snowflakes {
    position: fixed;
    width: 100%;
    overflow: hidden;
}
.snowflake {
	text-shadow: 4px 4px 29px rgba(0,187,241,1);    
	position: fixed;
	top: -25px;
    font-size: 14px;
    color: white;
    user-select: none;
	overflow: hidden;
    animation: fall 10s linear infinite;
	
}
@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}
		
h1 {
    font-family: Roboto;
    font-size: 3em;
    text-shadow: 0 0 10px #F3D250, 0 0 20px #F3D250, 0 0 30px #F3D250, 0 0 40px #F3D250;

}
