---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro"
const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${"Eumelcraft"}`} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
